/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/style.css ***!
  \*******************************************************************************************************************/
body {
  background-color: #404;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
